#########################
# Compiled Source Files #
#########################
*.o
*.d
.obj/*
bulletSoftBot

#########################
# Hidden config files	#
#########################
.*

#########################
# Allow gitignore file	#
#########################
!.gitignore
